name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "**.txt"
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.txt"

env:
  # Set the new value when the cache grows too much and we hit the runner's disk space limit
  # via https://github.com/rust-lang/docs.rs/pull/2433
  RUST_CACHE_KEY: rust-cache-20251006

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - &checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - &install-rust
        name: Install Rust
        run: |
          rustup update --no-self-update
          rustc --version
      - &cache-rust
        name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          # Use a common cache for the basic compilation/formatter/clippy checks
          shared-key: ${{ github.workflow }}-shared
          prefix-key: ${{ env.RUST_CACHE_KEY }}
          save-if: ${{ github.ref == 'refs/heads/next' }}
      - name: Clippy
        run: |
          cargo clippy --all --all-targets -- -D clippy::all -D warnings

  check_format:
    name: check formatting
    runs-on: ubuntu-latest
    # Run this job after the linter, so the cache is hot
    needs: [lint]
    # But run this check even if the lint check failed
    if: ${{ always() }}
    steps:
      - *checkout
      - *install-rust
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          # Use a common cache for the basic compilation/formatter/clippy checks
          shared-key: ${{ github.workflow }}-shared
          prefix-key: ${{ env.RUST_CACHE_KEY }}
          # But do not save this cache, just use it
          save-if: false
      - name: Check Formatting
        run: |
          cargo fmt -- --check

  unit_tests:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - *checkout
      - *install-rust
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          # NOTE: We use a different cache for the tests, so they can be run in parallel, but we
          # also share the cache for the tests for efficiency
          shared-key: ${{ github.workflow }}-shared-tests
          prefix-key: ${{ env.RUST_CACHE_KEY }}
          save-if: ${{ github.ref == 'refs/heads/next' }}
      - name: Check
        # We run `cargo check` to verify that the workspace compiles correctly before attempting
        # to execute the tests. This produces easier to read output if a compilation error occurs
        run: |
          cargo check --tests
      - name: Test
        run: |
          cargo test

  check_release:
    name: release checks
    runs-on: ubuntu-latest
    steps:
      - *checkout
      - *install-rust
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          # NOTE: We use a different cache for the these release checks
          shared-key: ${{ github.workflow }}-shared-release-checks
          prefix-key: ${{ env.RUST_CACHE_KEY }}
          save-if: ${{ github.ref == 'refs/heads/next' }}
      - name: Build all targets in release configuration
        run: |
          cargo build --release --all-targets
